@use "../utilities/variables";

// Form Layout
.form-layout{
    margin: 0 30px;

    // Form Group
    .form-group{
        position: relative;
        margin-bottom: 35px;

        // Input Field
        .input-field{
            background-color: variables.$body-bg-dark;
            display: block;
            outline: none;
            font-weight: normal;
            border-radius: variables.$base-border-radius;
            // color: #202124;
            color: variables.$body-bg-light;
            font-size: 1rem;
            height: 54px;
            width: 100%;
            padding: 0 18px;
            z-index: 1;
            border: 1px solid #D1D1D7;
            padding-right: 50px;
            transition: all 0.3s ease-in-out;
            position: relative;

            // Change border color and caret color when input is focused
            &:focus{
                border-color: variables.$body-bg-light;
                border-width: 2px;
                transition: none;
                caret-color: variables.$body-bg-light;

                // Change label position when input is focused
                & + label{
                    transform: translateY(-27px) scale(.8);
                    background-color: variables.$body-bg-dark;
                    color: variables.$body-bg-light;
                    padding: 0 8px;
                    z-index: 1;
                }
            }

            // Placeholder color to transparent to hide
            &::-webkit-input-placeholder,
            &::-moz-input-placeholder,
            &::placeholder{
                color: transparent;
            }

            // Input has any value then show placeholder above the input
            &:not(:placeholder-shown) + label{
                transform: translateY(-27px) scale(.8);
                background-color: variables.$body-bg-dark;
                padding: 0 8px;
                z-index: 1;
            }

            // Change background color and box shadow when input has autofill values.
            &::-webkit-autofill,
            &::-webkit-autofill:focus,
            &::-webkit-autofill:hover,
            &::-webkit-autofill:active{
                box-shadow: 0 0 0 100px #fff inset;
                transition: background-color 5000s ease-in-out 0s;
                transition-delay: 99999s;
            }

            // Icon size, position and alignment properties ( opacity will hide the icon by default )
            & + label + .bi{
                position: absolute;
                top: 11px;
                right: 18px;
                z-index: 2;
                font-size: 1.3rem;
                opacity: 0;
                color: variables.$white;

                &:hover{
                    cursor: pointer;
                }
            }

            // Show icon when input is focused
            &:focus + label + .bi{
                opacity: 1;
            }
        }

        // Label Style
        label{
            position: absolute;
            top: 18px;
            left: 8px;
            color: #5d5d5d;
            font-size: 0.938rem;
            transform: rotateY(15px);
            padding: 0 8px;
            cursor: text;
            z-index: -1;
            letter-spacing: 1px;
            text-transform: capitalize;
            font-weight: 500;
            transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1), opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    }
}