/* Color variables */
$white: #fff;
$black: #18181B;
$base-font-size: 1rem;
// $base-blue: #0089F1;
$base-primary: #3A10E5;
$body-bg-light: $white;
$body-bg-dark: $black;

/* Border Variables */
$base-border-radius: .5rem;

/* Button Variables */
$button-padding: 0.813rem 1.625rem;